
body {
  background-color: rebeccapurple;
  display: flex;
  justify-content: center;
  align-items: center;
}

.quiz--container {
  height: auto;
  width: 300px;
  margin: 10px;
  padding: 10px;
  background-color: aqua;
  border: 5px solid lightseagreen;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
}

.quiz-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.question {
  height: 150px;
  background-color: aquamarine;
  border: 5px solid lightseagreen;
  border-radius: 15px;
  padding: 10px;
}

.next {
  height: 50px;
  width: 100px;
  background-color: aquamarine;
  border: 5px solid lightseagreen;
  border-radius: 15px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.button {
  cursor: pointer;
  width: auto;
  height: auto;
  margin: 5px;
  padding: 5px;
  border: solid #000 2px;
  border-radius: 25px;
  background-color: antiquewhite;
}

.wrong-answer {
  background-color: red;
}

.correct-answer {
  background-color: green;
}

.disabled-answer {
  pointer-events: none;
}

.end--container {
  display: flex;
  flex-direction: column;
  align-items: center;
}